streamlit
numpy
pandas
matplotlib
scikit-image
opencv-python-headless==4.7.0.72
scikit-learn
torch
torchvision
Pillow
joblib
scipy
streamlit-image-zoom
streamlit-cropper
streamlit-file-browser
gdown
protobuf
